<div class="page">
    <div class="list-container" *ngIf="!verDetalle">
        <div class="toolbar">
    <h1 class="title">{{ userId ? 'Historiales de Atención' : 'Mi Historial Óptico' }}</h1>
    <!--
    <button *ngIf="userId" type="button" class="back-link" (click)="volver.emit()">
         <i class="fa-solid fa-arrow-left"></i> Regresar 
    </button> -->
</div>
        <span class="accent"></span>

        <div *ngIf="loading" class="loading-state">
            <i class="fa-solid fa-spinner fa-spin"></i> Buscando expedientes...
        </div>

        <div class="grid-cards" *ngIf="!loading && historiales.length > 0">
            <div class="card-item" *ngFor="let h of historiales">
                <div class="card-header">
                    <span class="date-label">FECHA</span>
                   <p class="date-value">{{ h.fecha || (h.createdAt | date:'dd/MM/yyyy') }}</p>
                </div>

                <div class="card-body">
                    <div class="info-group">
                        <span class="lbl">EVALUADOR</span>
                        <p class="txt">{{ h.evaluador || 'No asignado' }}</p>
                    </div>
                    <div class="info-group">
                        <span class="lbl">RECOMENDACIONES</span>
                        <p class="txt-recom">{{ h.recomendaciones || 'Sin observaciones' }}</p>
                    </div>
                </div>
                
                <button class="btn-detail" (click)="onVerDetalleCompleto(h)">
                    Ver Medidas Técnicas
                </button>
            </div>
        </div>

        <div *ngIf="!loading && historiales.length === 0" class="state-box">
            <i class="fa-solid fa-folder-open empty-icon"></i>
            <p>Aún no tienes registros en tu historial.</p>
        </div>
    </div>

    <app-ver-completo-historial-optico 
        *ngIf="verDetalle && historialSeleccionado" 
        [historial]="historialSeleccionado"
        (close)="onCerrarDetalle()">
    </app-ver-completo-historial-optico>
</div>